.timeline {
  cursor:pointer;

  &, &__chart {
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
  }

  &__chart {
    $label-color: #71929C;
    z-index: 0;

    text {
      font-family: $font-family-sans-serif;
      fill: $label-color;
    }

    .line path {
      stroke: $brand-success;
      stroke-width: 2.5px;
      fill: none;
    }

    .area path {
      fill: $brand-success;
      fill-opacity:0.95;
    }

    .axis {

      &--y {
        .domain {
          display: none;
        }
        .tick line {
          stroke: $label-color;
          stroke-dasharray: 2 3;
        }
      }

      &--x {

        .domain {
          stroke: lighten($label-color, 20);
        }

        .tick text {
          fill: lighten($label-color, 20);
        }
      }
    }
  }
}
