.timeline {
  cursor:pointer;
  position: relative;
  width:100%;
  height: 650px;
  min-height: 250px;

  &__chart {
    $label-color: #71929C;

    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index: 0;

    .label text:not(.highlighted) {
      display: none;
    }

    text {
      font-family: $font-family-sans-serif;
      fill: $label-color;
    }

    .line .line__group {
      stroke: $brand-success;
      stroke-width: 2.5px;
      fill: none;
    }

    .area .area__group {
      fill: $brand-success;
    }

    .label text {
      font-weight:bold;
      fill: white;
      font-size: .8rem;
    }

    .event {
      fill:transparent;
    }

    .ruler {
      &__group {
        line {
          stroke: lighten($label-color, 5);
          stroke-width: 1px;
          stroke-dasharray: 10 4;
        }

        text {
          fill: lighten($label-color, 5);
          font-size:12px;
        }
      }
    }

    .bubble {
      pointer-events: none;
      &__group text {
        font-size: .8em;
        fill: white;
        // Year
        & tspan:first-child {
          font-size:1.5em;
        }
        // Country
        & tspan:nth-child(2) {
          font-weight: bold;
        }
      }
    }

    .axis {

      &--y {
        .domain {
          display: none;
        }
        .tick line {
          stroke: rgba($label-color, .3);
          stroke-dasharray: 2 3;
        }
      }

      &--x {

        .domain {
          stroke: lighten($label-color, 20);
        }

        .tick text {
          fill: lighten($label-color, 20);
        }
      }
    }
  }
}
