.timeline {
  cursor:pointer;

  &, &__chart {
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
  }

  &__chart {
    $label-color: #71929C;
    z-index: 0;

    text {
      font-family: $font-family-sans-serif;
      fill: $label-color;
    }

    .line path {
      stroke: $brand-success;
      stroke-width: 2.5px;
      fill: none;
    }

    .area path {
      fill: rgba($brand-success, .5);
    }

    .axis {
      .tick line, path {
        shape-rendering: crispEdges;
        stroke: $label-color;
      }

      &--x {
        path { display: none; }
      }
    }
  }
}
