@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,900);

$font-family-sans-serif: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default

$body-bg: #f5f7f6;
$body-color: darken(#7f9298, 40);

$brand-primary:#ff5a3c;
$brand-secondary: #0d404e;
$brand-success:#00da9d;
$brand-danger:#d13b54;
$brand-info:#6c3ad2;
$brand-warning:#F6E484;
$brand-inverse:darken($brand-primary, 35);


$enable-shadows: true;
$enable-rounded: false;
$enable-gradients: false;
$enable-transitions: true;
$enable-flex: true;

@import "bower_components/bootstrap/scss/bootstrap";
@import "app/main/main";
