<div class="main__step">
  <div class="main__step__heading">
    <h2 class="main__step__heading__title">
      {{ $ctrl.current().slidetitle | i18n }}
    </h2>
    <div class="main__step__heading__controls">
      <a ui-sref="main.about" class="btn btn-link btn-sm main__step__heading__controls__about">
        {{ 'main.step.about' | translate}}
      </a>
      <div class="btn-group btn-group-sm">
        <button class="btn btn-primary btn-sm" ng-click="$ctrl.previous()" ng-disabled="$ctrl.isFirst()" ng-attr-title="{{ 'main.step.previous' | translate }}">
          <span class="sr-only">{{ 'main.step.previous' | translate }}</span>
          <i class="fa fa-fw fa-chevron-left"></i>
        </button>
        <button class="btn btn-primary btn-sm" ng-click="$ctrl.next()" ng-disabled="$ctrl.isOutro()" ng-attr-title="{{ 'main.step.next' | translate }}">
          <span class="sr-only">{{ 'main.step.next' | translate }}</span>
          <i class="fa fa-fw fa-chevron-right"></i>
        </button>
      </div>
    </div>
    <div class="main__step__heading__progress" ng-style="{ width: $ctrl.progress() + '%' }"></div>
  </div>
  <div class="main__step__wrapper" ng-swipe-right="$ctrl.previous()" ng-swipe-left="$ctrl.next()">
    <div class="main__step__description lead">
      <span ng-bind-html="$ctrl.current().slidetext | i18n | unsafe"></span>
    </div>
    <timeline meta="$ctrl.meta" step="$ctrl.step" ng-click="$ctrl.next()"></timeline>
  </div>
  <div ng-if="$ctrl.isOutro()" class="main__step__outro">
    <div class="main__step__outro__backdrop"  ng-click="$ctrl.previous()"></div>
    <div class="main__step__outro__content">
      <div class="row">
        <div class="col-sm-8 lead" ng-bind-html="'main.step.outro.content' | translate | unsafe"></div>
        <div class="col-sm-4 main__step__outro__content__sidebar">
          <img src="images/vroom.svg" class="img-fluid w-100 pl-3 pr-3 pb-3 pt-0 hidden-xs-down" alt="" />
          <div class="input-group mb-1">
            <input type="text" readonly value="{{ $ctrl.location }}" class="form-control" />
            <div class="input-group-btn">
              <button class="btn btn-primary" ui-zeroclip zeroclip-text="{{ $ctrl.location }}">
                <i class="fa fa-copy fa-fw"></i>
              </button>
            </div>
          </div>
          <button class="btn btn-primary btn-block" ui-sref="main.step({ index: 0 })">
            <i class="fa fa-repeat fa-fw"></i>
            {{ 'main.step.outro.play-again' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
